<div class="row">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="${ctxPath}/static/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="nav-header">
            <div class="navbar-header navbar-right">
                <span style="color: #fff;margin-right: 4px;" class="bar-adminlogo" id="adminlogoName"></span>
                <a href="logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i>退出</a>
            </div>
        </div>
    </nav>
</div>